* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TheanoDidotRegular";
    src: url("../fonts/TheanoDidotRegular/TheanoDidotRegular.eot");
    src: url("../fonts/TheanoDidotRegular/TheanoDidotRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TheanoDidotRegular/TheanoDidotRegular.woff") format("woff"),
    url("../fonts/TheanoDidotRegular/TheanoDidotRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Didot";
    src: url("../fonts/DidotItalic.ttf");
    font-style: italic;
    font-weight: normal;
}

.content-title {
    font-family: "TheanoDidotRegular", sans-serif;
    text-align: center;
    margin-bottom: 52px;
    font-size: 28px;
}

.header-title p {
    font-size: 23px;
    margin-top: 30px;
    margin-bottom: 0;
}

h1 {
    font-family: "Didot", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 72px;
    color: #ffffff;
}

.header-title {
    margin: 340px 0 0 300px;
}

.header-title p {
    font-size: 23px;
    color: #ffffff;
}

p {
    margin-bottom: 18px;
    font-family: "GothamProLight", sans-serif;
    font-size: 16px;
    text-align: center;
}

.content-title + p {
    margin-bottom: 50px;
    font-size: 20px;
}

.p {
    margin-bottom: 50px;
    font-size: 18px;
}

button {
    margin: 52px 85px;
    padding: 16px 44px;
    border: 2px double #000000;
    font-family: "GothamProLight", sans-serif;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.container {
    width: 1440px;
    margin: 0 auto;
    background: url("../img/Header-bkg.jpg") no-repeat;
    background-size: 100%;
    padding: 40px 50px;
}

header {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    font-family: "GothamProLight", sans-serif;
    font-size: 13px;
    margin: 0 15px;
    padding: 0 0 2px 0;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

nav ul li a:hover {
    text-decoration: underline #ff0000;

}

.content {
    display: flex;
}

.column {
    width: 25%;
    margin: 200px 0 205px 0;
    padding: 45px 0 30px 0;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
}

.starter {
    background-color: #f5f5f5;
}

.starter button {
    background-color: #f5f5f5;
}

.professional {
    background-color: #e5e5e5;
}

.professional button {
    background-color: #e5e5e5;
}

.competitive {
    background-color: #cbcbcb;
}

.competitive button {
    background-color: #cbcbcb;
}

.absolute {
    background-color: #4c4c4b;
    color: #ffffff;
}

.absolute button {
    background-color: #4c4c4b;
    color: #ffffff;
    border-color: #ffffff;
}

.content-2 {
    margin: 205px 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}

.content-2 div, h2, button {
    align-self: center;
}

.content-2 button {
    width: 200px;
    height: 55px;
    padding: 0;
    border: 2px double #ffffff;
    background-color: #de2c18;
    color: #ffffff;
    font-family: "GothamProLight", sans-serif;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.box {
    width: 848px;
    height: 50px;
    margin-bottom: 2px;
    background-color: #eeeeee;
}


