* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TheanoDidotRegular";
    src: url("../fonts/TheanoDidotRegular/TheanoDidotRegular.eot");
    src: url("../fonts/TheanoDidotRegular/TheanoDidotRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TheanoDidotRegular/TheanoDidotRegular.woff") format("woff"),
    url("../fonts/TheanoDidotRegular/TheanoDidotRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Didot";
    src: url("../fonts/DidotItalic.ttf");
    font-style: italic;
    font-weight: normal;
}

@media screen and (min-width: 377px) {

    .container {
        display: flex;
        flex-direction: column;
        min-width: 1060px;
        margin: 0 auto;
        background: url("../img/Header-bkg.jpg") no-repeat;
        background-size: 100%;
        padding: 40px 50px;
    }

    header {
        width: 100%;
        height: 900px;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .topnav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .topnav a {
        font-family: "GothamProLight", sans-serif;
        font-size: 13px;
        margin: 0 15px;
        padding: 0 0 2px 0;
        text-decoration: none;
        color: #ffffff;
    }

    .topnav a:hover {
        -webkit-text-decoration: underline #ff0000;
        text-decoration: underline #ff0000;
    }

    .topnav .mobile-menu-icon {
        display: none;
    }

    h1 {
        margin: 335px 0 0 350px;
        font-family: "Didot", sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 72px;
        color: #ffffff;
    }

    h2 {
        margin-bottom: 30px;
        font-family: "Didot", sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 48px;
    }

    .header-subtitle {
        margin: 30px 0 0 400px;
        font-family: "GothamProLight", sans-serif;
        font-size: 23px;
        color: #ffffff;
    }

    button {
        margin: 52px auto;
        padding: 16px 44px;
        border: 3px double #000000;
        font-family: "GothamProLight", sans-serif;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
    }

    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .column {
        width: 25%;
        margin: 200px 0 205px 0;
        padding: 45px 0 30px 0;
        -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .starter {
        background-color: #f5f5f5;
    }

    .starter button {
        background-color: #f5f5f5;
    }

    .professional {
        background-color: #e5e5e5;
    }

    .professional button {
        background-color: #e5e5e5;
    }

    .competitive {
        background-color: #cbcbcb;
    }

    .competitive button {
        background-color: #cbcbcb;
    }

    .absolute {
        background-color: #4c4c4b;
        color: #ffffff;
    }

    .absolute button {
        background-color: #4c4c4b;
        color: #ffffff;
        border-color: #ffffff;
    }

    .pricing-plan-title {
        font-family: "TheanoDidotRegular", sans-serif;
        text-align: center;
        margin-bottom: 52px;
        font-size: 28px;
    }

    .pricing-plan-price {
        margin-bottom: 55px;
        font-family: "GothamProLight", sans-serif;
        text-align: center;
        font-size: 20px;
        margin-top: 30px;
    }

    .pricing-plan-subtitle {
        margin-bottom: 50px;
        font-family: "GothamProLight", sans-serif;
        font-size: 18px;
        text-align: center;
    }

    .pricing-plan-description {
        margin-bottom: 18px;
        font-family: "GothamProLight", sans-serif;
        font-size: 16px;
        text-align: center;
        line-height: 200%;
    }

    .packages-details {
        margin: 205px 0 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .packages-details h2,
    .packages-details .box,
    .packages-details .button-get-started {
        -ms-flex-item-align: center;
        align-self: center;
    }

    .packages-details .button-get-started {
        border: 3px double #ffffff;
        background-color: #de2c18;
        color: #ffffff;
        font-family: "GothamProLight", sans-serif;
    }

    .button-get-started {
        margin-bottom: 200px;
    }

    .packages-details .box {
        width: 848px;
        min-height: 50px;
        margin-bottom: 2px;
        background-color: #eeeeee;
        font-family: "GothamProLight", sans-serif;
    }

    details {
        position: relative;
        padding: 15px;
    }

    summary {
        display: block;
    }

    summary::-webkit-details-marker {
        display: none;
        font-size: 20px;
    }

    summary::after {
        content: '+';
        position: absolute;
        top: 15px;
        left: 825px;
    }

    details[open] > summary::after {
        content: '-';
    }

    footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-top: 32px;
    }

    .footer-copy-subscribe {
        font-family: "GothamProLight", sans-serif;
        font-size: 11px;
        color: #939393;
    }

    .footer-contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-family: "GothamProLight", sans-serif;
        font-size: 11px;
    }

    .footer-contact img {
        width: 16px;
        height: 10px;
        margin-bottom: 5px;
        -ms-flex-item-align: center;
        align-self: center;
    }
}

/*mobiles*/

@media screen and (max-width: 376px) {
    .topnav a {
        display: none;
        text-decoration: none;
        color: #ffffff;
        font-family: "GothamProLight", sans-serif;
        font-size: 18px;
    }

    .topnav a.mobile-menu-icon {
        float: right;
        display: block;
        font-size: 28px;
    }

    .mobile-menu-icon:after {
        content: '\2630';
    }

}

@media screen and (max-width: 376px) {

    h1 {
        display: none;
    }

    h2 {
        margin-bottom: 30px;
        font-family: "Didot", sans-serif;
        font-style: italic;
        font-weight: normal;
        font-size: 32px;
        text-align: center;
    }

    .content + hr {
        display: none;
    }

    .header-subtitle {
        display: none;
    }

    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 375px;
        margin: 0 auto;
        background: url("../img/Header-bkg-mobile.png") no-repeat;
        background-size: 100%;
        padding: 20px 35px;
    }

    button {
        margin-bottom: 55px;
        padding: 15px 45px;
        border: 3px double #000000;
        font-family: "GothamProLight", sans-serif;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        letter-spacing: 2px;
    }

    header {
        width: 100%;
        height: 559px;
        margin: 0 auto 30px auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .mobile-menu-icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        height: 46px;
        background-color: #4c4c4b;
        opacity: 0.8;
    }

    .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .column {
        width: 100%;
        max-height: 559px;
        margin-bottom: 50px;
        -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
    }

    .column span {
        font-size: 22px;
    }

    .starter {
        background-color: #f5f5f5;
    }

    .starter button {
        background-color: #f5f5f5;
    }

    .professional {
        background-color: #e5e5e5;
    }

    .professional button {
        background-color: #e5e5e5;
    }

    .competitive {
        background-color: #cbcbcb;
    }

    .competitive button {
        background-color: #cbcbcb;
    }

    .absolute {
        background-color: #4c4c4b;
        color: #ffffff;
    }

    .absolute button {
        background-color: #4c4c4b;
        color: #ffffff;
        border-color: #ffffff;
    }

    .pricing-plan-title {
        font-family: "TheanoDidotRegular", sans-serif;
        text-align: center;
        margin-top: 45px;
        margin-bottom: 50px;
        font-size: 28px;
    }

    .pricing-plan-price {
        font-family: "GothamProLight", sans-serif;
        text-align: center;
        font-size: 18px;
        margin-bottom: 55px;
    }

    .pricing-plan-subtitle {
        margin-bottom: 45px;
        font-family: "GothamProLight", sans-serif;
        font-size: 14px;
        text-align: center;
    }

    .pricing-plan-description {
        margin-bottom: 50px;
        font-family: "GothamProLight", sans-serif;
        font-size: 12px;
        text-align: center;
        line-height: 200%;
    }

    .packages-details {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
    }

    .packages-details .box {
        width: 100%;
        min-height: 50px;
        margin-bottom: 5px;
        background-color: #eeeeee;
        font-family: "GothamProLight", sans-serif;
    }

    .packages-details .button-get-started {
        margin-top: 50px;
        padding: 15px 0;
        border: 3px double #ffffff;
        background-color: #de2c18;
        color: #ffffff;
        font-family: "GothamProLight", sans-serif;
    }

    .box span {
        font-size: 12px;
    }

    details {
        position: relative;
        padding: 18px 10px 10px 10px;
        font-size: 13px;
        font-weight: bold;
    }

    summary {
        display: block;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    summary::after {
        content: '+';
        position: absolute;
        top: 16px;
        left: 280px;
        font-size: 16px;
        font-weight: bold;
    }

    details[open] > summary::after {
        content: '-';
    }

    footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 32px;
    }

    .footer-copy-subscribe {
        display: none;
        font-family: "GothamProLight", sans-serif;
        font-size: 11px;
        color: #939393;
    }

    .footer-contact {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        font-family: "GothamProLight", sans-serif;
        font-size: 12px;
        font-weight: bold;
        margin-top: 30px;
    }

    .footer-contact img {
        margin: 15px;
        -ms-flex-item-align: center;
        align-self: center;
    }
}