* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "TheanoDidotRegular";
    src: url("../fonts/TheanoDidotRegular/TheanoDidotRegular.eot");
    src: url("../fonts/TheanoDidotRegular/TheanoDidotRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TheanoDidotRegular/TheanoDidotRegular.woff") format("woff"),
    url("../fonts/TheanoDidotRegular/TheanoDidotRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h2, h3 {
    font-family: "TheanoDidotRegular", sans-serif;
    text-align: center;
}

h2 {
    margin-bottom: 52px;
    font-size: 28px;
}

h3 {
    font-size: 24px;
}


p {
    margin-bottom: 18px;
    font-family: "GothamProLight", sans-serif;
    font-size: 16px;
    text-align: center;
}

button p {
    margin: 0;
    font-family: "GothamProLight", sans-serif;
    font-size: 18px;
    text-align: center;
}



h2 + p {
    margin-bottom: 50px;
    font-size: 20px;
}

.p {
    margin-bottom: 50px;
    font-size: 18px;
}

button {
    margin: 52px 85px;
    padding: 16px 44px;
    border: 1px double #000000;
}

.container {
    width: 1400px;
    height: 2000px;

}

header {
    width: 1440px;
    height: 900px;
    margin: 0 auto;
    padding: 40px 50px;
    background: url("../img/Header-bkg.jpg") no-repeat;
    background-size: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

}

.logo-top {

}

nav {

}

nav ul {
    display: flex;

}

nav ul li {
    list-style-type: none;
    font-family: "GothamProLight", sans-serif;
    font-size: 13px;
    margin: 0 15px;
    padding: 0 0 2px 0;
}

nav ul li:last-child {
    border-bottom: 1px solid #ff0000;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    width: 1440px;
    display: flex;
}

.column {
    width: 25%;
    margin-top: 200px;
    padding: 45px 0;

}

.starter {
    background-color: #f5f5f5;
}

.professional {
    background-color: #e5e5e5;
}

.competitive {
    background-color: #cbcbcb;
}

.absolute {
    background-color: #4c4c4b;
    color: #ffffff;
}

.absolute button {
    background-color: #4c4c4b;
    color: #ffffff;
    border-color: #ffffff;
}


